.__navbar {
  position: fixed;          /* creates sticky header or navbar */
  top: 0;
  width: 100%;
  background: #333333;      /* graphite color background */
  height: 56px;
  /*margin-top: 20px;         /* leave space for logo to extend above */
}

.__navbar_content {
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 0;
}

.__navbar_logo_name {
  color: #4169E1;
  text-decoration: none!important;
}
