/******** BookAppointment.js**********/

.container {
  text-align: center;
}
.block {
  display: inline-block;
  width: 400px;
}

.timetable {
  margin-top: 30px;
}







/******** TimePicker.js**********/

.rowClicked {                /* selected button properties */
  background-color: green;
  cursor: pointer;
}

.rowNotClicked {                /* available button properties (background-color: gray) */
  background-color: #bfbfbf;
  border: 1px solid black;
  cursor: pointer;
}

.rowNotClicked:hover {             /* available buttons - hover properties */
  background-color: gray;
}

.isBooked {                 /* property of buttons which were not available for selection */
  background-color: #CD5C5C;
}

._buttonStyle {              /* properties of all buttons - gray, green or red */
  border-radius: 2px;       /* increase the ovalness of rectangle */
  border: none;             /* make the border line invisible so it enrichess the background-color */
  padding: 10px 12px;       /* space between inner text and outer border of buton */
  margin: 2px 1px;         /* left and above space of current div/button */
  color: white;
}

.bookButton {
  margin-left: 50px;         /* above space and left space of current div/button */
  margin-top: 30px;
  width: 120px;
}

._alignCenter {
  display: inline-block;
}

.___successMsg {
  background-color: #3CB371;      /* green color */
  color: white;
  padding: 15px;
  border-radius: 8px;
  position: fixed;    /* fixed position and top 75px will make that the message displays at the same height from top of the page even if we scroll the page down  */
  top: 75px;
}
