.navbar {
  margin-bottom: 100px;      /* leave this space below the navbar so each page content does not get hidden behind the navbar */
}

.navbarHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #333333;
  height: 56px;
  margin-top: 20px;         /* to display medical-logo above the navbar */
}

.navbar_nav {
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 0;
}

.navbar_logo {
  color: #4169E1;
  text-decoration: none!important;
}

.spacer {
  flex: 1;        /* create maximum space between the logo and the nav items */
}

.navbar-items ul {
  list-style: none;
  margin: 0;
  padding: 30px;
  display: flex;
}

.navbar-items li {
  padding: 30px;
}

.navbar-items a {
  color: white;
  text-decoration: none!important;
}

.navbar-items a:hover {
  color: #111111;
}

.navbar-items a:active {
  color: white;
  font-weight: 900;
}
